# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
public/css/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# IDE files
.vscode/

#Temp Shots
.tmp-shots/